@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


:root {
	--x-1: rgba(84, 88, 99, 1);
	--white: rgba(255, 255, 255, 1);
	--x-2: rgba(8, 62, 76, 1);
	--very-PC-h3-font-family: "Gilroy-Medium", Helvetica;
	--very-PC-h3-font-weight: 500;
	--very-PC-h3-font-size: 26px;
	--very-PC-h3-letter-spacing: 0px;
	--very-PC-h3-line-height: 129.99999523162842%;
	--very-PC-h3-font-style: normal;
	--very-PC-body-standart-font-family: "Gilroy-Medium", Helvetica;
	--very-PC-body-standart-font-weight: 500;
	--very-PC-body-standart-font-size: 16px;
	--very-PC-body-standart-letter-spacing: 0px;
	--very-PC-body-standart-line-height: 139.9999976158142%;
	--very-PC-body-standart-font-style: normal;
}

:root {
	--container-width-l: 1270px;
	--container-padding: 15px;
	--main-font: 'Roboto Mono', monospace;
	/* --main-font: 'Inter', sans-serif; */
	--secondary: rgba(15, 31, 28, 0.5);
}

body {
	font-family: var(--main-font);
	background-color: #fff;
	color: #0f1f1c;

	padding-top: 50px;
}

.none {
	display: none !important;
}

.container {
	padding: 0 var(--container-padding);
	max-width: var(--container-width-l);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.container-right {
	padding-left: calc((100% - var(--container-width-l)) / 2 + var(--container-padding));
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0, 0, 0, 0);
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
}

.title {
	margin-bottom: 40px;
	font-size: 42px;
	font-weight: 700;
}

/* Grid */

.row {
	display: flex;
	flex-direction: column;
	column-gap: 60px;
}

.result {
	min-width: 400px;
	flex-basis: 30%;
}

/* Summary */
.summary {
	display: flex;
	flex-wrap: wrap;
	column-gap: 50px;
	row-gap: 30px;
}

/* Summary Item*/
.summary-item__title {
    margin-bottom: 10px;
	font-size: 14px;
	color: #888888;
}

.summary-item__value {
	font-size: 18px;
	font-weight: 600;
}

.summary-item__value--bigger {
	font-size: 24px;
	font-weight: 700;
}

.summary-item__value--percents {
	/* color: rgb(6, 132, 228); */
	color: #21bb57;
}

/* Programs */

.select-mortgage-programms {
	display: flex;
	flex-direction: row;
	/*flex-wrap: wrap;*/
	column-gap: 10px;
	row-gap: 10px;
	margin-bottom: 30px;
}

.elem-title{
	width: 100%;
	text-align: center;
}

/* Radio */

.radio-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0, 0, 0, 0);
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
}

.radio-label {
	display: inline-block;
	padding: 0.5em 1em;
	border-radius: 6px;
	border: 1px solid #e9e9e9;

	font-size: 16px;
	font-weight: 400;
}

.radio-hidden:checked + .radio-label {
    border-color: transparent;
	background-color: #21bb57;
	color: #fff;
}

/* Params */

.params-wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}

.param__details {
	padding: 0.5em 1em;
	border-radius: 6px 6px 0px 0px;
	border: 1px solid #d3d4d4;
	border-bottom: none;
}

.param__details--error {
	border-color: rgb(233, 0, 54);
}

.param__title {
	margin-bottom: 3px;
	font-size: 14px;
	color: #888888;
}

.param__value {
    display: block;
    width: 100%;
    font-size: 18px;
}

.param__range-slider {
	margin-top: -3px;
	height: 8px;
	background-color: #21bb57;
	border-radius: 0px 0px 6px 6px;
}

.param__limits {
    padding-top: 8px;
}

.limit {
	position: relative;
	display: flex;
	justify-content: space-between;
}

.limit__from {
	font-size: 14px;
	color: #888888;
}

.limit__to {
	font-size: 14px;
	color: #888888;
}

.limit__50 {
	position: absolute;
	border-left: 1px solid #c2c2c2;
	padding-left: 5px;
	left: 50%;
	top: 10px;
	font-size: 14px;
	color: #888888;
}

/* Sliders */

#slider-cost {
	height: 8px;
}

#slider-cost,
#slider-cost .noUi-handle {
    box-shadow: none;
}

/* Hide markers on slider handles */
#slider-cost .noUi-handle::before,
#slider-cost .noUi-handle::after {
    display: none;
}

#slider-cost .noUi-connect {
    background: #21bb57;
}

#slider-cost .noUi-handle {
    height: 20px;
    width: 20px;
    top: -7px;
    right: -10px; /* half the width */
    border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 1px 4px rgb(36 38 41 / 24%);
	cursor: pointer;

	transition: transform 0.1s ease-in;
}

#slider-cost .noUi-handle:hover{
	transform: scale(1.3);
}





.element {
	width: 420px;
	height: 302px;
	background-image: url(../img/Rectangle\ 31.svg);
	background-size: 100% 100%;
  }
  
  .element .overlap-group {
	position: relative;
	height: 302px;
	background-image: url(../img/Rectangle\ 32.svg);
	background-size: 100% 100%;
  }
  
  .element .frame {
	display: inline-flex;
	height: 54px;
	align-items: center;
	gap: 10px;
	padding: 10px 12px;
	position: absolute;
	top: 20px;
	left: 20px;
	background-color: var(--white);
	border-radius: 10px;
  }
  
  .element .text-wrapper {
	position: relative;
	width: fit-content;
	margin-top: -1px;
	color: var(--x-1);
	font-size: var(--very-PC-h3-font-size);
	line-height: var(--very-PC-h3-line-height);
	white-space: nowrap;
	font-family: var(--very-PC-h3-font-family);
	font-weight: var(--very-PC-h3-font-weight);
	letter-spacing: var(--very-PC-h3-letter-spacing);
	font-style: var(--very-PC-h3-font-style);
  }
  
  .element .vector {
	position: absolute;
	width: 316px;
	height: 1px;
	top: 196px;
	left: 20px;
	object-fit: cover;
  }
  
  /*.element .group {
	position: absolute;
	width: 65px;
	height: 65px;
	top: 237px;
	left: 355px;
	background-color: var(--x-2);
	border-radius: 32.5px;
  }*/
  
  .element .polygon {
	position: absolute;
	width: 65px;
	height: 65px;
	top: 237px;
	left: 355px;
  }
  
  .element .div {
	position: absolute;
	width: 295px;
	top: 213px;
	left: 20px;
	color: var(--white);
	font-size: var(--very-PC-body-standart-font-size);
	line-height: var(--very-PC-body-standart-line-height);
	font-family: var(--very-PC-body-standart-font-family);
	font-weight: var(--very-PC-body-standart-font-weight);
	letter-spacing: var(--very-PC-body-standart-letter-spacing);
	font-style: var(--very-PC-body-standart-font-style);
  }
  

  .footer{
	display: flex;
	flex-direction: row;
  }